@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Bellefair-Regular.ttf');
}

@font-face {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-style: normal;
    src: url('./fonts/BarlowCondensed-Bold.ttf');
}


@font-face {
    font-family: 'Barlow Regular';
    font-weight: 400;
    font-style: normal;
    src: url('./fonts/Barlow-Regular.ttf');
}